<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
           http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.1.xsd  " >


    <!--配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!--2.配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
    destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- 数据源连接配置-->
        <property name="autoCommitOnClose" value="${jdbc.autoCommitOnClose}"/>
        <property name="checkoutTimeout" value="${jdbc.checkoutTimeout}"/>
        <property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}"/>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
    </bean>

    <!--3.配置SessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>

    <!--4.生成dao代理對象-->
    <!--批量扫描mapper，包括环境（所以mybatis.xml中的mapper批量扫描环境可以去掉）和创建对象，必须保证mapper.java和mapper.xml在同一包下-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描指定包，多个包中间用半角逗号隔开-->
        <property name="basePackage" value="xin.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!--5.配置service-->
    <!--<bean id="userService" class="xin.serviceImpl.UserServiceImpl" />-->
    <context:component-scan base-package="xin.serviceImpl"/>
    <context:component-scan base-package="xin.entity"/>

    <!--6.配置事务管理器 -->

    <!--7.配置开启事务操作 -->

    <!--8.aop配置 -->


</beans>